@clr-white: #fff;
 @clr-main: #999;
 @clr-second: lighten(@clr-main, 25%);
 @clr-warn: #ff0;
 @clr-err: #f00;
 @clr-norm: #00f;
 * {
    padding: 0;
    margin: 0;
}
body {
    background: @clr-white;
    font-family: Verdana, Arial, Helvetica;
}
.wrapper {
    margin: 8px auto;
    width: 80%;
    box-shadow: 0 0 16px darken(@clr-main, 0%);
    //border: solid 1px @clr-main;
    border-radius: 8px;
}
.header {
    padding: 16px;
    background: @clr-main;
    color: @clr-white;
    text-shadow: 3px 3px 0 darken(@clr-main, 16%);
    border-bottom: solid 4px darken(@clr-main, 32%);
    border-radius: 8px 8px 0 0;
}
.sidebar {
    float: left;
    width: 20%;
}
.body {
    float: left;
    width: 80%;
}
.footer {
    margin: 0 auto;
    width: 96%;
    border-top: solid 1px @clr-second;
    clear: both;
}
